/*QS-B*/
/* QuickSprites - BEGIN - DO NOT REMOVE THIS LINE */
.aicon-activity-legacy,
.aicon-countdown-running,
.aicon-countdown-closed,
.aicon-countdown-waiting,
.aicon-countdown-review,
.aicon-activity-top
{
    display:	inline-block;
    background-repeat:	no-repeat;
    background-image:	url( 'http://img01.taobaocdn.com/tps/i1/T1nl5fXElXXXcXw.Z7-120-24.png' );
}

.aicon-unfold,
.aicon-unfold:hover,
.aicon-view,
.aicon-refresh,
.aicon-refresh:hover,
.aicon-articletop,
.aicon-comment,
.aicon-close,
.aicon-broadcast,
.aicon-navmessageempty,
.aicon-navhomewhite,
.aicon-navhomegray,
.aicon-navhelp,
.aicon-navmessage,
.aicon-rank2,
.aicon-profile,
.aicon-delete,
.aicon-delete:hover,
.aicon-fold,
.aicon-fold:hover,
.aicon-article,

.aicon-newactivity,
.aicon-newactivity:hover,
.aicon-fav,
.aicon-newqa,
.aicon-newqa:hover,

.aicon-rank1,
.aicon-qatop,
.aicon-like,
.aicon-newarticle,
.aicon-newarticle:hover,
.aicon-answer,
.aicon-edit,
.aicon-edit:hover,
.aicon-down,
.aicon-qa,
.aicon-same,
.aicon-up,
.aicon-activity,
.aicon-rank3,
.aicon-help,
.aicon-help:hover,
.aicon-canclefav,
.aicon-canclefav:hover,
.aicon-attend,
.aicon-invite,
.aicon-invite:hover,
.aicon-more,
.aicon-more:hover,

.aicon-closehover
{
    display:	inline-block;
    background-repeat:	no-repeat;
    background-image:	url( 'http://img01.taobaocdn.com/tps/i1/T1BAJ1XEthXXXZiccp-620-48.png' );
}

.aicon-unfold
{
    background-position:	-408px -24px;
    width:	16px;
    height:	16px;
}
.aicon-unfold:hover
{
    background-position:	-448px 0;
    width:	16px;
    height:	16px;
}

.aicon-view
{
    background-position:	-424px -24px;
    width:	16px;
    height:	16px;
}

.aicon-refresh
{
    background-position:	-432px 0;
    width:	16px;
    height:	16px;
}
.aicon-refresh:hover
{
    background-position:	-504px -32px;
    width:	16px;
    height:	16px;
}

.aicon-articletop
{
    background-position:	-360px 0;
    width:	24px;
    height:	24px;
}

.aicon-comment
{
    background-position:	-440px -16px;
    width:	16px;
    height:	16px;
}

.aicon-close
{
    background-position:	-440px -32px;
    width:	16px;
    height:	16px;
}



.aicon-navmessageempty
{
    background-position:	-360px -24px;
    width:	24px;
    height:	24px;
}

.aicon-broadcast
{
    background-position:	-384px 0;
    width:	24px;
    height:	24px;
}

.aicon-navhelp
{
    background-position:	-456px -16px;
    width:	16px;
    height:	16px;
}

.aicon-navmessage
{
    background-position:	-384px -24px;
    width:	24px;
    height:	24px;
}

.aicon-rank2
{
    background-position:	-584px -32px;
    width:	12px;
    height:	12px;
}

.aicon-profile
{
    background-position:	-456px -32px;
    width:	16px;
    height:	16px;
}

.aicon-delete
{
    background-position:	-464px 0;
    width:	16px;
    height:	16px;
}

.aicon-delete:hover
{
    background-position:	-552px -32px;
    width:	16px;
    height:	16px;
}

.aicon-fold
{
    background-position:	-472px -16px;
    width:	16px;
    height:	16px;
}

.aicon-fold:hover
{
    background-position:	-472px -32px;
    width:	16px;
    height:	16px;
}

.aicon-article
{
    background-position:	-480px 0;
    width:	16px;
    height:	16px;
}

.aicon-navhomegray
{
    background-position:	-488px -17px;
    width:	16px;
    height:	16px;
}

.aicon-newactivity:hover
{
    background-position:	-45px 0;
    width:	45px;
    height:	47px;
    cursor: pointer;
}

.aicon-newactivity
{
    background-position:	-315px 0;
    width:	45px;
    height:	47px;
}

.aicon-fav
{
    background-position:	-488px -32px;
    width:	16px;
    height:	16px;
}

.aicon-newqa:hover
{
    background-position:	-90px 0;
    width:	45px;
    height:	47px;
    cursor: pointer;
}

.aicon-newqa
{
    background-position:	0 0;
    width:	45px;
    height:	47px;
}

.aicon-navhomewhite
{
    background-position:	-496px 0;
    width:	16px;
    height:	16px;
}

.aicon-rank1
{
    background-position:	-592px 0;
    width:	12px;
    height:	12px;
}

.aicon-qatop
{
    background-position:	-408px 0;
    width:	24px;
    height:	24px;
}

.aicon-like
{
    background-position:	-512px 0;
    width:	16px;
    height:	16px;
}

.aicon-newarticle
{
    background-position:	-180px 0;
    width:	45px;
    height:	47px;
}

.aicon-newarticle:hover
{
    background-position:	-225px 0;
    width:	45px;
    height:	47px;
    cursor: pointer;
}

.aicon-answer
{
    background-position:	-520px -16px;
    width:	16px;
    height:	16px;
}

.aicon-edit
{
    background-position:	-520px -32px;
    width:	16px;
    height:	16px;
}

.aicon-edit:hover
{
    background-position:	-560px 0;
    width:	16px;
    height:	16px;
}

.aicon-down
{
    background-position:	-596px -32px;
    width:	12px;
    height:	12px;
}

.aicon-qa
{
    background-position:	-528px 0;
    /*        background-position:	-529px 0;*/
    width:	16px;
    height:	16px;
}

.aicon-same
{
    background-position:	-600px -12px;
    width:	12px;
    height:	12px;
}

.aicon-up
{
    background-position:	-604px 0;
    width:	12px;
    height:	12px;
}

.aicon-activity
{
    background-position:	-536px -16px;
    width:	16px;
    height:	16px;
}

.aicon-rank3
{
    background-position:	-608px -24px;
    width:	12px;
    height:	12px;
}

.aicon-help
{
    background-position:	-536px -32px;
    width:	16px;
    height:	16px;
}

.aicon-help:hover
{
    background-position:	-576px 0;
    width:	16px;
    height:	16px;
}

.aicon-canclefav
{
    background-position:	-544px 0;
    width:	16px;
    height:	16px;
}

.aicon-canclefav:hover
{
    background-position:	-504px -16px;
    width:	16px;
    height:	16px;
}

.aicon-attend
{
    background-position:	-568px -16px;
    width:	16px;
    height:	16px;
}

.aicon-invite:hover
{
    background-position:	-270px 0;
    width:	45px;
    height:	47px;
    cursor: pointer;
}

.aicon-invite
{
    background-position:	-135px 0;
    width:	45px;
    height:	47px;
}

.aicon-more
{
    background-position:	-568px -32px;
    width:	16px;
    height:	16px;
}

.aicon-more:hover
{
    background-position:	-552px -16px;
    width:	16px;
    height:	16px;
}

.aicon-closehover
{
    background-position:	-584px -16px;
    width:	16px;
    height:	16px;
}

.aicon-activity-legacy
{
    background-position:	-104px 0;
    width:	16px;
    height:	16px;
}

.aicon-countdown-running
{
    background-position:	-24px 0;
    width:	20px;
    height:	20px;
}

.aicon-countdown-closed
{
    background-position:	-44px 0;
    width:	20px;
    height:	20px;
}

.aicon-countdown-waiting
{
    background-position:	-64px 0;
    width:	20px;
    height:	20px;
}

.aicon-countdown-review
{
    background-position:	-84px 0;
    width:	20px;
    height:	20px;
}

.aicon-activity-top
{
    background-position:	0 0;
    width:	24px;
    height:	24px;
}
/*QS-E*/